@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.home-page{
  background-color: white;
  min-height: 100svh;
  background-image: url(../../public/BeesLogoBg.png);
  background-position: top;
  background-size: 25%;
  background-repeat: no-repeat;
  color: black;
  overflow: hidden;
}

.poster{
  min-width: 55vw;
}
.event-details{
  border-radius: 9px;
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
  width: 35vw;
}

.event-details-desktop{
  border-radius: 9px;
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
  width: 35vw;
  background-color: white;
  right: 0;
}

.about p{
  line-height: 180%;
}

#paymentForm{
  text-align: left !important;
}

.PaymentButton-text{
  font-size: 0.7rem !important;
}

.razorpay-payment-button.svelte-ohbfj8{
  width: 100%;
}

.PaymentButton.svelte-ekc7fv.svelte-ekc7fv{
  width: 100% !important;
  border-radius: 5px;
}

.PaymentButton--dark.svelte-ekc7fv.svelte-ekc7fv{
  background-color: #560D80 !important;
}

.PaymentButton--dark.svelte-ekc7fv.svelte-ekc7fv{
  color: #FFDF01 !important;
}

#paymentForm{
  text-align: center;
}

@media only screen and (max-width: 768px) {

  .home-page{

    background-position: top;
    background-size: contain;
  }

  .poster{
      min-width: 100%;
  }
  .event-details{
      width: 100%;
  }
}