.poster{
    min-width: 55vw;
}
.event-details{
    box-shadow: 0 3px 10px rgb(0,0,0,0.2);
    width: 35vw;
}

.about p{
    line-height: 180%;
}

@media only screen and (max-width: 768px) {
    .poster{
        min-width: 100%;
    }
    .event-details{
        width: 100%;
    }
  }